body {
    background-color: rgb(13, 58, 108); /* cor de fundo da página*/
    color:rgb(226, 226, 226); /* cor da escrita */
    font-family: "Montserrat", sans-serif;
}

header {
    border: solid 2px rgb(221, 216, 216);
    font-size: 32px;
    padding: 10px;
    color: white;
}

section {
    background-color: rgb(34, 121, 207);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px; /* tamanho da fonte */
    text-align: center; /* centralizado*/
    text-transform: uppercase; /* letras maiúsculas*/
}

p {
    font-size: 16px;
    color: alicered;
}